@import "bootstrap/scss/bootstrap";


$dark: #21252B;
$dark2: #282C34;
$light: #ABB2BF;
$light2: #7D8799;
$pink: #E06C75;
$blue: #56B6C2;
$purple: #C678DD;
$green: #98C379;

$xs:  400px;
$sm:  576px;
$md:  768px;
$lg:  960px;
$xl:  1200px;
$xxl: 1400px;

/* Mixins */
@mixin xs { @media (min-width: $xs) { @content; }}
@mixin sm { @media (min-width: $sm) { @content; } }
@mixin sm-landscape { @media (min-width: $sm) and (max-width: $md) and (orientation: landscape) { @content; } }
@mixin md { @media (min-width: $md) { @content; } }
@mixin lg { @media (min-width: $lg) { @content; } }
@mixin xl { @media (min-width: $xl) { @content; } }
@mixin xxl { @media (min-width: $xxl) { @content; } }
@mixin lt($width) { @media (max-width: $width) { @content; } }
@mixin gt($width) { @media (min-width: $width) { @content; } }
@mixin between($width1, $width2) { @media (min-width: $width1) and (max-width: $width2) { @content; } }


/**
@include xs { // 400px

}
@include sm { // 576px

}
@include md { // 768px

}
@include lg { // 960px

}
@include xl { // 1200px

}
@include xxl { // 1400px

}
**/

.bg-dark {
  background-color: $dark !important;
}
.text-white {
  color: $light !important;
}
#app {
  height: 100%;
  width: 100%;
  padding: 5px 25px;
  background: $dark;
  color: $light;
}

h2 {
  margin: 5px 15px;
  font-size: 24px;
}
.game-window {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
  gap: 20px;
  @include lg { // 960px
    flex-flow: row;
    height: calc(100vh - 312px);
  }
  .left-side {
    display: flex;
    flex-flow: column;
    gap: 20px;
    @include lg { // 960px
      width: 400px;
    }
    .instructions {
      height: 200px;
      background-color: $dark2;
      @include lg { // 960px
        height: 33%;
      }
    }
  }
}


.editor {
  width: 100%;
  height: 400px;       
  overflow: auto;
  @include lg { // 960px
    width: 400px;
  }       
}


.output {
  background-color: $dark;
  border: solid 2px $dark2;
  border-radius: 20px;
  width: 100%;
  height: 400px;      
  overflow: auto;
  @include lg { // 960px
    width: calc(100% - 400px);
    height: 100%;
  } 
}

.editor .cm-cursor {
  border-left: 3px solid #c678dd; 
}

.custom-border {
  border-left: solid 4px $blue;
  border-top: solid 4px $blue;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.custom-button {
  background-color: $pink;
  color: $dark;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  width: 150px;
  margin: auto;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: darken($pink, 8%);
  }
}
