@import "bootstrap/scss/bootstrap";


$dark: #21252B;
$dark2: #282C34;
$light: #ABB2BF;
$light2: #7D8799;
$pink: #E06C75;
$blue: #56B6C2;
$blue2: #15373B;
$purple: #C678DD;
$green: #98C379;
$white: #ececef;

$xs:  400px;
$sm:  576px;
$md:  768px;
$lg:  960px;
$xl:  1200px;
$xxl: 1400px;

/* Mixins */
@mixin xs { @media (min-width: $xs) { @content; }}
@mixin sm { @media (min-width: $sm) { @content; } }
@mixin sm-landscape { @media (min-width: $sm) and (max-width: $md) and (orientation: landscape) { @content; } }
@mixin md { @media (min-width: $md) { @content; } }
@mixin lg { @media (min-width: $lg) { @content; } }
@mixin xl { @media (min-width: $xl) { @content; } }
@mixin xxl { @media (min-width: $xxl) { @content; } }
@mixin lt($width) { @media (max-width: $width) { @content; } }
@mixin gt($width) { @media (min-width: $width) { @content; } }
@mixin between($width1, $width2) { @media (min-width: $width1) and (max-width: $width2) { @content; } }


/**
@include xs { // 400px

}
@include sm { // 576px

}
@include md { // 768px

}
@include lg { // 960px

}
@include xl { // 1200px

}
@include xxl { // 1400px

}
**/


.bg-dark {
  background-color: $dark !important;
}
.text-white {
  color: $light !important;
}
#app {
  height: 100%;
  width: 100%;
  padding: 0 25px;
  background: $dark;
  color: $light;
}

.level-main {
  height: 100%;
  width: 100%;
  @include lg { // 960px
    height: calc(100vh - 160px);
  }
}

.map-main {
  padding: 40px 0 90px 0;
}

.game-window {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
  gap: 20px;
  @include lg { // 960px
    flex-flow: row;
  }
  .left-side {
    display: flex;
    flex-flow: column;
    gap: 20px;
    height: 100%;
    @include lg { // 960px
      width: 400px;
    }
  .instructions {
    flex: 1;
    height: 200px;
    background-color: $dark2;
    padding: 10px 0 0 10px;
    overflow-y: auto;
    @include lg { // 960px
    flex: 0 0 40%;
  }
  h2 {
    font-size: 24px;
  }
  p, li{
    margin-right: 20px;
  }
}
    }
    .editor-section {
      height: 400px;
        @include lg { // 960px
          height: 60%;
        }
      .editor {
        width: 100%;
        // height: 400px;       
        overflow: auto;
        @include lg { // 960px
          // height: 100%;
        }       
      }
      .save-button {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        @include lg { // 960px
          justify-content: flex-end;
        }
      }
    }
}



.output {
  background-color: $dark;
  border: solid 4px $blue;
  border-radius: 14px;
  width: 100%;
  height: 400px;      
  overflow: auto;
  @include lg { // 960px
    width: calc(100% - 400px);
    height: 100%;
  } 
  .preview {
    width: 100%;
    height: 100%;
    border: none;
  }
}

.custom-border {
  border-left: solid 4px $blue;
  border-top: solid 4px $blue;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.editor-tabs {
  display: flex;
  justify-content: flex-end;
  gap: 3px;
  button {
    background: none;
    color: $light;
    border: solid 3px $blue;
    border-bottom: none;
    border-radius: 12px 12px 0 0;
    padding: 5px 10px;
  }
  button.active {
    background-color: $blue;
    color: $dark;
  }
}


.custom-button {
  background-color: $pink;
  color: $dark;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  width: 150px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: darken($pink, 8%);
  }
}


.editor .cm-cursor {
  border-left: 3px solid $purple; 
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  p {
    margin: 0;
  }
  a {
    color: $blue;
    text-decoration: none;
  }
}




/* Define width/height */
.element::-webkit-scrollbar {
    width: 10px;
}
/* Track (background) */
.element::-webkit-scrollbar-track {
    background: #f1f1f1;
}
/* Thumb (handle) */
.element::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
/* Hover effect */
.element::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* For Firefox */
.element {
    scrollbar-width: thin; /* or 'auto', 'none' */
    scrollbar-color: #888 #f1f1f1; /* thumb track */
}




.editor-tabs {
  height: 37px;

}

.editor {
  height: calc(100% - 91px);
}

.save-button {
  height: 44px;
}


.cm-editor {
  height: 100%;
}

iframe {
  background: white;
}

.map {
  display: flex;
  flex-flow: column;
  gap: 20px;
  max-width: 1200px;
  margin: auto;
  @include md { // 768px
    flex-flow: row;
  }
  .world {
    width: 100%;
    @include md { // 768px
      width: 50%;
    }
    .levels {
      border-radius: 20px;
      .level-body {
        border: solid 2px $blue;
        color: $white;
        padding: 10px 20px;
        .level-actions {
          margin-top: 20px;
          width: 100%;
          display: flex;
          justify-content: center;
          button{
            text-shadow: .7px .7px 1px #0000007c;
            border: solid 2px $purple;
            border-radius: 20px;
            background: $purple;
            padding: 5px 30px;
            color: $dark;
            cursor: pointer;
            font-size: 16px;
            transition: background-color 0.3s ease;
            &:hover {
              border: solid 2px $white;
              background: none;
              color: $white;
            }
          }
        }
      }
    }
  }
}


.accordion-button{
  text-shadow: .7px .7px 1px #0000007c;
  background: none;
  color: $light;
  border: solid 2px $blue;
  border-radius: 12px 12px 0 0;
  margin-top: 5px;
}

.accordion-button:not(.collapsed){
  background: $blue;
  color: $dark;
  border: solid 2px $blue;
}



.accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' stroke='rgb(171 178 191)' stroke-width='2' viewBox='0 0 16 16'%3e%3cpolyline points='4 6 8 10 12 6'/%3e%3c/svg%3e");

}
/* Accordion open arrow color */
.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' stroke='rgb(33 37 43)' stroke-width='2' viewBox='0 0 16 16'%3e%3cpolyline points='4 6 8 10 12 6'/%3e%3c/svg%3e");

}

.accordion-button:focus {
  box-shadow: none;
}

.landing-button {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 100000;

  background: #56B6C2;
  color: #21252B;
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: 0.2s ease;

  &:hover {
    background: #C678DD;
    color: #ececef;
  }
}

